In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
df = pd.read_csv(r"D:\INTERN PROGRAM\Dataset .csv")

In [3]:
df.fillna('', inplace=True)

In [4]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [5]:
df['combined_features'] = df['cuisines'] + ' ' + df['price_range'].astype(str) + ' ' + df['locality']

In [6]:
vectorizer = TfidfVectorizer(stop_words='english')
feature_matrix = vectorizer.fit_transform(df['combined_features'])

In [7]:
def recommend_restaurants(cuisine, price_range, location, top_n=5):
    user_pref = cuisine + ' ' + str(price_range) + ' ' + location
    user_vec = vectorizer.transform([user_pref])
    similarity = cosine_similarity(user_vec, feature_matrix)
    scores = list(enumerate(similarity[0]))
    sorted_scores = sorted(scores, key=lambda x: x[1], reverse=True)
    recommended_indices = [i[0] for i in sorted_scores[:top_n]]
    return df.iloc[recommended_indices][['restaurant_name', 'cuisines', 'price_range', 'locality', 'aggregate_rating']]

In [8]:
user_cuisine = "Italian"
user_price_range = "2"
user_location = "Baner"

recommendations = recommend_restaurants(user_cuisine, user_price_range, user_location, top_n=5)
recommendations

,restaurant_name,cuisines,price_range,locality,aggregate_rating
9155,Teddy Boy,"North Indian, Continental, Finger Food",3,Baner,3.6
9156,Effingut Brewerkz,"Continental, North Indian, Mughlai, Burmese",4,Baner,4.3
802,Virgin Courtyard,Italian,4,Sector 7,4.4
943,Cafe Parmesan,Italian,3,Sector 15,4.5
6270,Rooftop,"North Indian, Chinese, Italian",2,Pitampura,3.3